.banner{
  background-image: url('../../components/Resource/bannerbackground.png');
  background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}

.banner{
  text-align: center;
  padding-top: 250px;
}
.form-control{
  text-align: center;
  margin-left: 40%;
 
}

.brand img{
  height: 30px;
}

